        .image {
            width: 100%;
        }
        .video-title{  
                font-size: 14px;
                font-weight: 500;
                line-height:20px ;
                margin-top: 0;
                margin-bottom: 12px;
            }
            .video-info-grid{
            display:grid;
            grid-template-columns: 50px 1fr; 
            }
            .profil-image1,
            .profil-image2{
            width: 40px;
            border-radius:20px;
            }
            .image-row{
            margin-bottom:12px;
            }
            .video-author,
            .video-stats {
            font-size: 12px;
            color: rgb(96,96, 96);
            }
            .video-author{
            margin-bottom: 4px;
            }

            .video-preview{
                
                margin-right: 15px;
            }
            
            .image2
            {
            width: 50px;
            display: inline-block;
            vertical-align: top;
                
            }
            .video-info{
            display:inline-block;
            width: 245px;
            
            }
            
            .video-grid{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr; 
            column-gap: 16px;
        row-gap: 40px;
            }
        
        .header{
            height: 55px;
            display: flex;
            flex-direction: row;
                }
        .left-section{
            background-color: lightblue;
            width: 150px;
        }

        .middle-section{
            background-color: lightpink;
            flex: 1;
            margin-left: 70px;
            margin-right: 35px;
            max-width:50px ;
        }

        .right-section{
            background-color: lightblue ;
            width: 200px;
        }
